@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
form {
  background-color: white;
  font-size: 18px;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  padding: 40px 40px 10px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}
input {
  outline: none;
  font-size: 14px;
  padding: 2px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
}
input:invalid {
  border: 2px solid red;
  border-radius: 3px;
}

select {
  font-size: 14px;
  padding: 2px;
  font-weight: bold;
}
option {
  font-weight: bold;
}
legend {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
  color: blue;
}
span {
  font-size: 0.6em;
  position: relative;
  top: -5px;
  color: rgb(146, 146, 9);
  text-transform: uppercase;
}
form > div {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
button {
  font-size: 18px;
  align-self: center;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: blue;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}
button:active {
  background-color: rgb(90, 90, 241);
}
email span {
  position: absolute;
}
